.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    gap: 2rem;
    margin-bottom: 15rem;
}

.container h3 {
    font-size: 2rem;
    color: rgb(21, 50, 65);
    margin-bottom: 4rem;
}

.container span {
    color: rgb(45, 108, 141);
}

.swiper {
    width: 80vw;
    border-radius: 12px;
    overflow: hidden;
}

.cardContainer {
    width: fit-content;
    display: flex;
}

.cardContent {
    width: 35rem;
    height: 20rem;

    display: flex;
    flex-direction: row;

    background-color: rgb(209, 212, 216);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    border-radius: 12px;
    overflow: hidden;
    margin-right: 2rem;
}

.imgContainer img {
    width: auto;
    height: 100%;
}

.descriptionContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-self: center;
    margin-top: 1rem;
}

.description {
    align-self: center;
    text-align: left;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.btnContainer {
    position: absolute;
    bottom: 2rem;
}

.btn {
    gap: 1rem;
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(21, 50, 65);
    color: white;
}

